
.idea/
*.iml
.DS_Store
.vscode/


.env
.env.*
*.local

# Android
**/local.properties
**/.gradle/
**/build/
**/captures/
**/.externalNativeBuild/
**/.cxx/
*.apk
*.ap_
*.aab

# Spring Boot 
**/target/
**/out/
*.class
*.log
.gradle/
build/
bin/

